.rect1 {
    height: 370px;
    width: 900px;
    background-color: whitesmoke;
    margin-left: 365px;
    margin-top: 60px;
}
p {
    text-indent: -50px;
    padding-left: 50px;
}
.rect2 {
    height: 410px;
    width: 900px;
    background-color: whitesmoke;
    margin-left: 365px;
    margin-top: 20px;
}
.rect3 {
    height: 240px;
    width: 900px;
    background-color: whitesmoke;
    margin-left: 365px;
    margin-top: 20px;
    margin-bottom: 60px;
}