.rect1 {
    height: auto;
    width: 65%;
    background-color: whitesmoke;
    margin-left: 365px;
    margin-top: 60px;
}
p {
    text-indent: -50px;
    padding-left: 50px;
}
.rect2 {
    height: 75%;
    width: 65%;
    background-color: whitesmoke;
    margin-left: 365px;
    margin-top: 20px;
}
.rect3 {
    height: 70%;
    width: 65%;
    background-color: whitesmoke;
    margin-left: 365px;
    margin-top: 20px;
    margin-bottom: 60px;
}
